* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
ul {
  padding-left: 0;
}

.ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1024px;
  margin: 0 auto;
}

.loading {
  color: pink;
  font-family: sans-serif;
  font-size: 2rem;
  margin-top: 25vw;
  text-align: center;
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
