* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
ul {
  padding-left: 0;
}
.btnContainer {
  display: flex;
  max-width: 1024px;
  justify-content: center;
  margin: 0 auto;
  padding: 0 1em;
}

.page {
  margin: 0.25rem;
  font-family: sans-serif;
  margin-left: 1em;
}
